
.main_container_button .button {
    width: 100%;
}


.button_text {
    width: 100%;
}

.text1{
    line-height: 1;
}
.baton{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
}


